* {
    box-sizing: border-box;
}

body{
    margin: 0 1.5em; /* TRouBLe */
}

.navbar {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-end;

/*    font-size: 1.2em;
    font-weight: bold;
    width: 70%;
    float: left;
    padding-top: 1.5em;
    background: #eee;*/

}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}
nav li {
    display: inline;
    padding-right: 1.3em;
}
nav a {
    display: inline-block;
    text-decoration: none;
    color: brown;
}
nav a:hover {
    color: yellowgreen;
}






/*

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 1050px){
    ul.sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}*/
