/*
Kevin Phillips
DGMD-E-20
Modern and Mobile Front-End Web Design I
Jen Kramer, Instructor
Erin Schroeder, Teaching Assistant
*/
/*.gridcell{
    background-color: orange;
    color: pink;
    font-style: italic;
}
.gridcell #danger{
    color: brown;
    border: dashed;
}*/

.warning{
    background-color: aqua;
}

.dead{
    background-color: firebrick;
}

strong{
    font-weight: bold;
}

body#wrapper{
    color: rebeccapurple;
    background-color: thistle;
}

a:first-child{
    background-color: lawngreen;
    font-weight: bold;
}
.bb8.r2d2 #c3po{
    background-color: gold;
}
.captain.picard * #riker{
background-color: black;
    font-size: x-large;
    color: orange;
}
blockquote[title]:first-line{
    background-color: darkgreen;
}
article p:nth-of-type(even){
    background-color: dodgerblue;
}
.verylong#list{
    font-weight: bolder;
    font-style: italic;
    font-family: Courier, "Courier 10 Pitch", monospace;
}

.verylong #list{
background-color: fuchsia;
}

ul > li + li > a *{
    background-color: dodgerblue;
}
