/*
1.Using a single declaration block, set all elements to a sans-serif typeface, with dark grey text. In a second declaration block, set all headings to a shade of blue and a monospace font. (Be sure to mention a system typeface as well as the generic.)
2.In line 42 (starts “Tempus id bibendum a”), set the first letter of that paragraph to bold, 3em, and float it such that the text wraps around it.
3.For all links that go offsite, indicate this with the phrase “ (external link)” after each link.
4.For the navbar elements that go offsite, do not display the text “ (external link)”. However, keep that text for all other links in other locations on the page, so #3 continues to work.
5.For all of the table cells, provide a small amount of space between the words and their container. In a second declaration, create a pink box with two lines going around the entire table.
6.For the “Temperature”, “Precipitation”, “Amount of Daylight” and “Recommended Outerwear” headings in the table, but NOT the month headings, make them italic, green, and left-aligned. Do not use an nth-child or nth-of-type selector.
7.In the table, stripe the table so every other row has alternating colors.
8.Make the words “give me a purple background” in line 92 have a purple background and white text.
9.Make the words “another student” in the 2nd testimonial (line 32) brown, bold, and not italic. Do not use an nth-child or nth-of-type selector.
10.Make an orange line separate the footer from the rest of the web page. Center the text in the footer.
*/

body{
    /*font-family: sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}
h1,h2{
    color: darkblue;
    /*font-family: monospace;*/
    font-family: Courier, "Courier 10 Pitch", monospace;
}
/*@font-face {
    font-family: sans-serif;
}*/