html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffc;
	padding: 0;
	margin: 0;
}
.wrapper {
	border: 2px solid orange;
	width: 900px;
	padding: 10px;
	overflow: auto;
	margin: 0 auto;
}
header {
	background-color: navy;
	color: white;
	width: 100%;
	overflow: auto;
	position: fixed;
}
header h1 {
	margin: 0;
	padding: 0.5em; 
}
aside {
	font-size: 1.5em;
	color: maroon;
	font-weight: bold;
}
img {
	border: 2px solid red;
}
.floatleft {
	float: left;
	margin: 0 1em 1em 0;
	/* order for 4 numbers is TRouBLe */
}
.floatright {
	float: right;
	margin: 0 0 1em 1em;
	/* order for 4 numbers is TRouBLe */
}
.clearfloat {
	clear: both;
}
/* floats: you can combine with other styles, shown here for clarity */
aside {
	width: 25%;
	float: left;
	padding-top: 80px;
}
article {
	width: 73%;
	float: left;
	margin-right: 2%;
	padding-top: 80px;
}

header h1 {
	width: 30%;
	float: left;
}
nav {
	font-size: 1.2em;
	font-weight: bold;
	width: 70%;
	float: left;
	padding-top: 1.5em;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: right;
}
nav li {
	display: inline-block;
	padding-right: 1.3em;
}
nav a {
	text-decoration: none;
	color: white;
}
nav a:hover {
	color: #ffc;
}













